.landing-page-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr)
}

@media (max-width: 1024px) {
  .landing-page-grid {
    grid-template-columns: repeat(3, 1fr)
  }
}

@media (min-width: 1025px) and (max-width: 1350px) {
  .landing-page-grid {
    grid-template-columns: repeat(4, 1fr)
  }
}

.project-list-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 250px;
  height: 300px;
  padding: 10px;
  text-decoration: none;
}

.project-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 290px;
}

.project-card:hover .project-list-name {
  z-index: 99;
}

.project-list-img {
  max-height: 90%;
  max-width: 100%;
  border-radius: 4px;
  object-fit: cover;
  border-radius: 4px;
  object-fit: cover;
  width: 399px;
  height: 250px;
  justify-content: center;
}

.project-list-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  text-decoration: none;
}

.project-list-name {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  z-index: -1;
  height:20px;
  width: 100%;
  left:5%;
  bottom: 10%;
}

.project-list-name:hover {
  text-decoration: underline;
}

.project-list-user {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-top: -12px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.project-list-user:hover {
  text-decoration: underline
}

.project-list-user-avatar {
  padding-right: 3px;
}

.project-list-likes {
  color: #696969;
  text-decoration: none;
  font-size: 12px;
  margin-top: -12px;
}
