.login-page {
  position: fixed;
  background-image: url("https://source.unsplash.com/1920x1440?art");
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}

.login-form {
  margin-left: 50%;
  margin-right: 20%;
  margin-top: 7%;
  padding: 40px 55px;
  background-color: white;
  border-radius: 5px;
  gap: 20px;
}

.submit-button {
  color: white;
  background-color: #0057ff;
  width: 90px;
  border: none;
  border-radius: 5em;
  height: 30px;
  transition: background-color .5s;
}

.submit-button:hover,
.demo-login-form-button:hover {
  background-color: #0011ffd2;
}

label {
  color: #8a747d;
  font-size: 12px;
}

input {
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  transition: border-bottom .5s;
}

input:focus,
input:active {
  border-bottom: 1px solid #378ef0;
}

.form-submit-container {
  display: flex;
  justify-content: flex-end;
}

.demo-login-form-button {
  background: #0011ffd2;
  color: white;
  border: none;
  font-weight: 500;
  height: 45px;
  width: 103%;
  margin-bottom: 15px;
  border-radius: 5em;
  width: 100%;
  cursor: pointer;
}

.enLogo {
  display:flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: 40%;
  left: 25%
}

.enLogoimg {
  height:40px ;
  width:40px;
  margin-right: 10px;
}

.enLogoText {
  color: white;
  font-size: xx-large;
}