.login-page {
  position: fixed;
  background-image: url("../../assets/login-plants.jpg");
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.login-form {
  margin-left: 60%;
  margin-right: 10%;
  margin-top: 10%;
  padding: 40px 55px;
  background-color: white;
  border-radius: 5px;
  gap: 20px;
}

.submit-button {
  color: white;
  background-color: #0057ff;
  width: 90px;
}

label {
  color: #8a747d
}

input {
  border: none;
  border-bottom: 1px solid gray;
}

input:focus {
  border: none;
}
