.one {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    background: rgb(0 0 0 / 85%);
    z-index: 9001;
}

.userHeader {
    position: absolute;
    background: rgb(184, 19, 19);
    top: 25;
    left: 10%;
    right: 10%;
    padding: 15;
    border: 2px solid rgb(219, 28, 28);
    z-index: 9002 !important;
}

.projUserInfo {
    height: 75px;
    background-color: rgba(255, 255, 255, 0);
    width: 1400px;
    margin: 20px 0px;
}

.modal {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    top: 25;
    width:1400px;
    left: 10%;
    right: 10%;
    padding: 5px;
    border: 2px solid #444;
    z-index: 9002 !important;
}

.projImg {
    max-width: 100%;
}


.projClose {
    position: absolute;
    top:1%;
    right:1%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.projCloseIcon {
    color: #fff;
    font-size: x-large;
}

.projUserInfoCont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.projName {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.projUsername {
    color:white;
    font-size: 14px;
    text-decoration: none;
}

.projUsername:hover {
    text-decoration: underline;
}

.projUserCont {
    height:40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 10px;
}

.appreciate-container{
    /* margin-top: 7.5%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 250px;
}

.project-name-appreciate{
    /* margin-bottom: 7.5%; */
    color: white;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
}
.appreciate-button{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #0046cc;
    margin-bottom: 10px;
}

.below-like-button{
    color: white;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fa-solid{
    color: white;
}

/* #thumbs-icon{
    font-size: 16px;
} */
