.one {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    background: rgb(0 0 0 / 85%);
    z-index: 9001;
}

.userHeader {
    position: absolute;
    background: rgb(184, 19, 19);
    top: 25;
    left: 10%;
    right: 10%;
    padding: 15;
    border: 2px solid rgb(219, 28, 28);
    z-index: 9002 !important;
}

.projUserInfo {
    height: 45px;
    background-color: rgba(255, 255, 255, 0);
    margin: 20px 0px;
    width: fit-content;
}

.modal {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #fff;
    top: 25;
    min-width: 800px;
    max-width: 1400px;
    left: 10%;
    right: 10%;
    padding: 5px;
    border: 2px solid #444;
    z-index: 9002 !important;
}

.projImg {
    width: 100%;
}


.projClose {
    position: absolute;
    top: 1%;
    right: 1%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.projCloseIcon {
    color: #fff;
    font-size: x-large;
}

.projUserInfoCont {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 700px;
}

.projName {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.projUsername {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.projUsername:hover {
    text-decoration: underline;
}

.projUserCont {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 10px;
}

.userOtherWorks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 39, 39);
    height: 400px;
}

.userOtherWorksCarousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width:90%;
    margin: 10px 0px
}

.userOtherWorksCarouselInner {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    transition:transform 0.3s;
    width:100%
}

.userOtherWorksCarouselList {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.moveCarouselLeft {
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #777;
    color: white;
    font-size: xx-large;
    height:30px;
    width: 30px;
    right: 44%;
    bottom: 38%;
    border-radius: 50%;
}
.moveCarouselRight {
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #777;
    color: white;
    font-size: xx-large;
    height:30px;
    width: 30px;
    left: 44%;
    bottom: 46%;
    border-radius: 50%;
}

.moveCarouselLeft:hover,.moveCarouselRight:hover {
    background-color: #222;
    color: rgb(230, 230, 230);
}

.userOtherWorksImg {
    margin: 0px 8px;
    height:250px;
    width:299px;
    border-radius: 4px;
    object-fit: cover;
}

.userOtherWorksImg:hover {
    cursor: pointer;
}

.userOtherInfoCont {
    display: flex;
    width: 90%;
}

.userOtherInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.userOtherTextCont {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin-left: 10px;
    height:50px
}

.userOtherText {
    font-size: medium;
    font-weight: bold;
    color: white;
}

.userOtherFollowBut {
    width: 80%;
    height: 50%;
    border-radius: 50px;
    background-color: rgb(0, 84, 220);
    font-size: smaller;
    color: white;
    outline: none;
    border: none;
    transition: background-color .5s;
}

.userOtherFollowBut:hover {
    background-color: rgb(0, 66, 172);
}

.appreciate-container {
    /* margin-top: 7.5%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 250px;
}

.project-name-appreciate {
    /* margin-bottom: 7.5%; */
    color: white;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
}

.appreciate-button {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #0046cc;
    margin-bottom: 10px;
    color: white;
}

.appreciate-button:hover {
    background-color: rgb(0, 66, 172);
}

.below-like-button {
    color: white;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
}

/* #thumbs-icon{
    font-size: 16px;
} */

.projUserSideCont {
    display: flex;
    flex-direction: column;
    z-index: 9001;
    color: white;
    position: relative;

}

.projUserSideStabs {
    display: flex;
    flex-direction: column;
    z-index: 9001;
    color: white;
    position: sticky;
    top: 0px;
    left: 750px;
}

.projUserSideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    float: right;
    right: -85px;
    margin-top: 90px;
}


.appreciateSideButton {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background-color: rgb(0, 84, 220);
    color: white;
}

.appreciateSideButton:hover {
    background-color: rgb(0, 66, 172);;
}

.projContainer {
    display: flex;
    flex-direction: column;
    margin:0px 110px
}

.projUserSideBarText {
    display: flex;
    height:40px;
    color:#777;
    font-size: 12px;
    padding-top: 10px;
}

@media (max-width: 1050px) {
    .projUserSideBar {
        display: none
    }
}

.comments-container{
    background-color: #fafafa;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.comments-section{
    border: 1px solid #e9e9e9;
    /* margin-bottom: 5%; */
    /* margin-right: 60%;
    margin-left: 5%; */
    background-color: white;
    padding-right: 90px;
    padding-left: 34px;
}

.create-comment{
    padding-top: 25px;
    padding-bottom: 30px;
}

.comment-input{
    width: 350px;
    height: 100px;
}

.reply-btn-div{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    /* margin-right: -60px */
}

.reply-btn{
    border: 1px solid #e8e8e8;
    border-radius: 15px;
    background-color: white;
    font-size: 14px;
    width: 130px;
    height: 30px;
    color: black;
    font-weight: bold;
    padding: 5px;
}

.reply-btn:hover{
    background-color: rgb(241, 241, 241);
    transition: 1000ms;
}

#hr-comments{
    /* background-color: #fafafa; */
    border: 1px solid #fafafa;
    width: 100%;
}


.owner-info-div{
    border: 1px solid #e9e9e9;
    /* margin-bottom: 5%; */
    /* margin-right: 60%;
    margin-left: 5%; */
    background-color: white;
    padding-top: 25px;
    padding-right: 90px;
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-username-div{
    display: flex;
    align-items: center;
    padding-right: 45px;
}
.owner-text-div{
    padding-right: 150px;
}

.project-info-div{
    border: 1px solid #e9e9e9;
    /* margin-bottom: 5%; */
    /* margin-right: 60%;
    margin-left: 5%; */
    background-color: white;
    height: 175px;
    width: 275px;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

#project-name{
    font-weight: bold;

}

#project-description{
    color: #979797;
}

#thumbs-icon-comment-section{
    color: #979797;
}